@model Entities.SuperUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SuperUser</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NickName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CanPublish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CanPublish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resign)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRole.Libelle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
