@model IEnumerable<Entities.SuperUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Utilisateurs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="table_user" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resign)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserRole)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CanPublish)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resign)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole.Libelle)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table_user').DataTable();
        });
    </script>
    }
